{% extends 'base.html' %}
{% load static %}

{% block mainbody %}
<main>
    
    <!-- login register wrapper start -->
    <div class="my-5">
        <div class="container">
            <div class="member-area-from-wrap">
                <div class="row">
                  

                    <!-- Register Content Start -->
                    <div class="col-lg-8 mx-auto">
                        <div class="login-reg-form-wrap sign-up-form">
                            <div class="section-title text-center">
                                <h2 class="title">Edit Address</h2>
                          
                                
                            </div>
                            <form action="#" method="post">{% csrf_token %}

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input type="text" placeholder="Enter your First Name" name="first_name" value="{{adr.first_name}}"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input type="text" placeholder="Enter your Last Name" name="last_name" value="{{adr.last_name}}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-input-item">
                                    <input type="text" placeholder="Enter your Mobile No without Prefix" name="mobileNo" value="{{adr.mobileNo}}"/>
                                </div>
                               
                                <div class="single-input-item">
                                    <input type="text" placeholder="Flat, House no., Building, Company, Apartment" name="house" />
                                </div>
                                <div class="single-input-item">
                                    <input type="text" placeholder="Area, Colony, Street, Sector, Village" name="area" />
                                </div>
                                <div class="single-input-item">
                                    <input type="text" placeholder="Enter Your Landmark" name="landmark" />
                                </div>
                             

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input type="text" class="state" id="state" list="dataList" name="state" placeholder="Select State From List">
                                           <datalist id="dataList">

                                            </datalist>
                                        </div>
                                        
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input type="text" class="city" id="city" list="citylist" name="city" placeholder="Select City From List">
                                            <datalist id="citylist">
 
                                             </datalist>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input type="text" placeholder="Enter your Pincode" name="pincode"  />
                                        </div>
                                    </div>
                                  
                                </div>
                               
                                <div class="single-input-item">
                                    <button class="btn btn-sqr" name="saveAddress">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Register Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- login register wrapper end -->
</main>


{% endblock mainbody %}
{% block cityjs %}

    <script>
        let items = [];
        let alldata={}
            var abc=   $.getJSON( "/static/city_data.json", function( data ) {
           
                
            $.each( data, function( key, val ) {
                items.push( key );
                alldata[key] =val;  
            });
            for (var i=1; i <= items.length; i++){
            //  
               $("#dataList").append(`<option value="${items[i]}"></option>`)
           
            }
            });

           
            $("#state").change(function(){
                var state = this.value
              
                allcity =alldata[state]
                for (var i=1; i <= allcity.length; i++){
            //  
               $("#citylist").append(`<option value="${allcity[i]}"></option>`)
           
            }

                
            })

    </script>
{% endblock cityjs %}